name: Custom client pack/publish

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
      upload-artifact:
        type: boolean
        default: false
      upload-tag:
        type: string
        default: "custom"

env:
  VERSION: "1.4.5"

jobs:
  build:
    name: ${{ matrix.job.target }}
    environment: ${{ inputs.environment }}
    runs-on: ${{ matrix.job.os }}
    strategy:
      fail-fast: false
      matrix:
        job:
          - {
              target: x86_64-pc-windows-msvc,
              os: windows-2022,
              arch: x86_64,
              vcpkg-triplet: x64-windows-static,
            }
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Download unsigned
        uses: actions/download-artifact@v4
        with:
          name: rustdesk-unsigned-windows-${{ matrix.job.arch }}-${{ inputs.environment }}
          path: ./rustdesk

      - name: Download custom config file
        uses: actions/download-artifact@v4
        with:
          #name: custom-config-${{ inputs.environment }}
          name: custom-config-json-${{ inputs.environment }}
          path: ./rustdesk

      - name: Rename custom config file
        run: mv ./rustdesk/custom.json ./rustdesk/custom.txt

      - name: Upload unsigned
        uses: actions/upload-artifact@master
        with:
          name: rustdesk-custom-unsigned-windows-${{ matrix.job.arch }}-${{ inputs.environment }}
          path: rustdesk
          overwrite: true

      - name: Build self-extracted executable
        shell: bash
        run: |
          sed -i '/dpiAware/d' res/manifest.xml
          pushd ./libs/portable
          pip3 install -r requirements.txt
          python3 ./generate.py -f ../../rustdesk/ -o . -e ../../rustdesk/rustdesk.exe
          popd
          mv ./target/release/rustdesk-portable-packer.exe ./rustdesk-custom-${{ env.VERSION }}-${{ matrix.job.arch }}-${{ inputs.environment }}.exe

      - name: Upload self-extracted
        uses: actions/upload-artifact@master
        with:
          name: rustdesk-custom-${{ env.VERSION }}-${{ matrix.job.arch }}-${{ inputs.environment }}.exe
          path: ./rustdesk-custom-${{ env.VERSION }}-${{ matrix.job.arch }}-${{ inputs.environment }}.exe
          overwrite: true

      - name: Publish self-extracted
        uses: softprops/action-gh-release@v1
        if: env.UPLOAD_ARTIFACT == true
        with:
          prerelease: true
          tag_name: ${{ inputs.upload-tag }}
          files: |
            ./rustdesk-custom-${{ env.VERSION }}-${{ matrix.job.arch }}-${{ inputs.environment }}.exe
